{# @formatter:off #}
{% extends "base/python_module.jinja2" %}

{% block imports %}
{% for import in module.imports %}
{{ import }}
{% endfor %}
import asyncio

import aio_pika
from asyncapi.amqp.consumer.runner import ConsumersController

from {{ app.modules.consumer.python_path }} import add_{{ app.manager.name|snake_case }}_consumers
{% endblock %}

{% block functions %}
async def main() -> None:
    connection = await aio_pika.connect_robust()  # type: aio_pika.Connection

    try:
        runner = ConsumersController(connection)

        # TODO: add implementation
        add_{{ app.manager.name|snake_case }}_consumers(runner, ...)

        runner.start()
        await runner.wait_for_termination()

    finally:
        await connection.close()  # type: ignore
{% endblock %}

{% block main %}
if __name__ == "__main__":
    asyncio.run(main())
{% endblock %}
{# @formatter:on #}
