{# @formatter:off #}
{% extends "base_module.jinja2" %}

{% block imports %}
{% for import in module.imports %}
{{ import }}
{% endfor %}

import abc

from asyncapi.amqp.base import ConsumptionContext
from asyncapi.amqp.consumer.callable import CallableMessageConsumer
from asyncapi.amqp.consumer.decoded import DecodedMessageConsumer
from asyncapi.amqp.consumer.processing import ProcessingMessageConsumer
from asyncapi.amqp.consumer.runner import ConsumersRunner
from asyncapi.amqp.decoder.pydantic import PydanticModelMessageDecoder

from {{ app.modules.message.python_path }} import (
    {% for message in app.messages|sorted(attribute="name") %}
    {{ message.name|pascal_case }},
    {% endfor %}
)
{% endblock %}

{% block classes %}
class {{ app.manager.name|pascal_case }}(metaclass=abc.ABCMeta):
    """{{ app.manager.description }}"""
    {% if app.consumers %}
        {% for consumer in app.consumers|sorted("name") %}
    @abc.abstractmethod
    async def consume_{{ consumer.name|snake_case }}(self, message: {{ consumer.message.name|pascal_case }}, context: ConsumptionContext) -> None:
        """{{ consumer.description }}"""
        raise NotImplementedError
        {% endfor %}
    {% else %}
    pass
    {% endif %}
{% endblock %}

{% block functions %}
def add_{{ app.manager.name|snake_case }}_consumers(runner: ConsumersRunner, manager: {{ app.manager.name|pascal_case }}) -> None:
    {% if app.consumers %}
        {% for consumer in app.consumers|sorted("names") %}
    runner.add_consumer(
        exchange_name="{{ consumer.exchange_name }}",
        binding_keys=(
        {% for binding_key in consumer.binding_keys %}
            "{{ binding_key }}",
        {% endfor %}
        ),
        consumer=ProcessingMessageConsumer(DecodedMessageConsumer(CallableMessageConsumer(manager.consume_{{ consumer.name|snake_case }}), PydanticModelMessageDecoder({{ consumer.message.name|pascal_case }}),)),
        queue_name="{{ consumer.queue_name }}",
        is_auto_delete_enabled=None,
        is_exclusive=None,
        is_durable=None,
        prefetch_count=None,
    )
        {% endfor %}
    {% else %}
    pass
    {% endif %}
{% endblock %}
{# @formatter:on #}
